# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules

# Databases
/.data

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file(s)
.env
.env.*

# Build generated
dist/
build/

# Temp folder for porting
port/

### VisualStudioCode ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
