# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules

# Database
provider/

# Environment variables files
.env
.env.*

# Build generated
dist/
build/

# Temp folder for porting
port/

# Editor config
.vscode/*

