# Logs
logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules

# Database
.data/

# Environment variables files
docker-compose.yml

# Build generated
dist/
build/

# Temp folder for porting
port/

# Editor config
.vscode/*

