* {
    margin: 0;
    padding: 0;
}

// Flex box util
%flex { display: flex; }
.hbox { @extend %flex; flex-direction: row; }
.vbox { @extend %flex; flex-direction: column; }
.grow { flex: 1; }

// Other util
.scroll { overflow: auto; }
.fill { position: absolute; top: 0; bottom: 0; left: 0; right:0; }
